<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>E-Pass</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link href="static/assets/css/mystyle.css" rel="stylesheet">


</head>

<body>

  <main id="main" style="background-position: center;">

   <!-- ======= About Section ======= -->
    <section id="about" style=" background-attachment: fixed;
    background-position: center;background-size: 400px;background-repeat: no-repeat;">

    <div class="container" data-aos="fade-up" >

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title" style="color:black">Covid-19 ePass</h2>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href=""> E Pass During lockdown </a></h4>
            <p class="description">People can use this ePass to move around the state as well as to travel interstate.This pass is like proof of you being negative and allows you to go out,although in cases of emergency. </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Vehicle pass during lockdown</a></h4>
            <p class="description">This will provide e-pass for your vehicles.With the help of this pass it will become easier to move around and even travel interstate.However,along with this pass,you also need identity proof like your aadhar card.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Curfew epass</a></h4>
            <p class="description">Whenever there are emergency situations curfew pass will help you to travel without any difficulty.This pass has become a boon to many citizens.</p>
          </div>


        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Eligibility</a></h4>
          <p class="description">
            -Manufacturing essential items,
            -Transport of essential items,
            -Storage of essential items,
            -Shops of essential items,
            -Media.</p>
        </div>

      </div>
    </div>

      </div>

    </div>
  </section>
 <!-- End About Section -->



    <!-- ======= Services Section ======= -->

    <section id="register" class="register" style=" background-attachment: fixed;
    background-position: center;background-size: 500px;background-repeat: no-repeat;">

      <div class="container" >

        <!--div class="section-title"-->

          <h1 class="text-center" style="color:crimson;">Registration Form</h1>
 <div class="col-lg-5 col-md-8">
  <form action="/login" method="POST" class="needs-validation" novalidate>
    <div >
      <label>First name</label>

      <input type="text" class="form-control" placeholder="First name" name="fname" required>
      <div class="invalid-feedback">
        Please enter a valid first name

      </div>
    </div>
    <div>
      <label>Last name</label>
      <input type="text" class="form-control" placeholder="Last name" name="lname" required>
      <div class="invalid-feedback">
        Please enter a valid last name
      </div>
    </div>
    <div>
      <label>Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="email" class="form-control" name="email" placeholder="Email" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please enter a valid Email-ID
        </div>
      </div>
    </div>
    <div>
      <label>Source State</label>
      <input type="text" class="form-control" name="source_state" placeholder="Source State" required>
      <div class="invalid-feedback">
        Please provide a valid source state
      </div>
    </div>
    <div>
      <label>Source District</label>
      <input type="text" class="form-control"  name="source" placeholder="Source District" required>
      <div class="invalid-feedback">
        Please provide a valid source district
      </div>
    </div>
    <div>
      <label>Destination State</label>
      <input type="text" class="form-control" name="dest_state" placeholder="Destination State" required>
      <div class="invalid-feedback">
        Please provide a valid destination state
      </div>
    </div>
    <div class="form-group mt-3">
      <label>Destination District</label>
      <input type="text" class="form-control" name="destination" placeholder="Destination District" required>
      <div class="invalid-feedback">
        Please provide a valid destination district
      </div>
    </div>
    <div>
<label>Mobile</label>
      <input type="number" class="form-control" name="phoneNumber" placeholder="Mobile" required>
      <div class="invalid-feedback">
        Please provide a valid mobile number
      </div>
    </div>
    <div>
      <label>Travel Date</label>
      <input type="date" class="form-control" name="date" placeholder="Travel Date" required>
      <div class="invalid-feedback">
        Please provide a valid travel date
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <br>
    <div  class="btn-get-started"><button type="submit">Register</button></div>

</form>
</div>

        </div>

      </div>
    </section><!-- End Registration Section -->

  </main>

</body>
</html>



